.main-heading {
    padding-left: 70px;
    text-align: center;
}

.img-fluid {
    padding-left: 80px;
    height: 130px;
}

.col-md-12 {
    text-align: center;
    margin-top: 40px;
}

.required {
    color: red;
}

.custom-submit-btn {
    background-color: rgb(156, 52, 97);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-submit-btn:hover {
    background-color: rgb(138, 49, 88);
    border-radius: 20px;

}